@model IEnumerable<HouseSystem.Models.Advertisement>

@{
    ViewBag.Title = "Index";
}


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Landlord.Username)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Images.Count == 0)
                {
                    <div style="width:100px;height:130px;"><label>No Image</label></div>
                }
                else
                {
                    foreach (HouseSystem.Models.Image i in item.Images)
                    {
                        if (i.ImageData != null)
                        {
                            <img src="data:@i.ImageMimeType;base64, @Convert.ToBase64String(i.ImageData)" style="width:100px;height:130px;"/>
                            break;
                        }
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Landlord.Username)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            </td>
        </tr>
    }
    
    </table>

