@model IEnumerable<HouseSystem.Models.Advertisement>

@{
    ViewBag.Title = "Index";
}

    <p>
        @Html.ActionLink("Create New", "Create",new { ViewBag.landlordID });
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.Pass)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Images.Count == 0)
                {
                    <label>No Image</label>
                }
                else
                {
                    foreach (HouseSystem.Models.Image i in item.Images)
                    {
                        if (i.ImageData != null)
                        {
                            <img src="data:@i.ImageMimeType;base64, @Convert.ToBase64String(i.ImageData)" style="width:100px;height:130px;" />
                            break;
                        }
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @{

                    if (item.Pass.ToString().Equals("0"))
                    {
                        @Html.Label("Wait")
                    }
                    else if (item.Pass.ToString().Equals("1"))
                    {
                        @Html.Label("Pass")
                    }
                    else if (item.Pass.ToString().Equals("2"))
                    {
                        @Html.Label("Fail")
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
